.date {
  margin-left: 24px;
}

.icon {
  color: #0199e6;
}

.button {
  color: #0199e6;
  background-color: #0199E6;
  border-color: #0199E6;
}

.text{
  color: white;
}

.icons{
  color: white;
}

.responsive-title{
  font-size: 16px;
}

.responsive-subtitle{
  font-size: 14px;
}

.responsive-sub{
  font-size: 12px;
}
.responsive-text{
  font-size: 10px;
}

@media (min-width: 768px){
  .responsive-title{
    font-size: 24px ;
  }

  .responsive-subtitle{
    font-size: 20px;
  }

  .responsive-sub{
    font-size: 16px;
  }

  .responsive-text{
  font-size: 14px;
}
}

@media (min-width: 1200px){
  .responsive-title{
    font-size: 28px ;
  }

  .responsive-subtitle{
    font-size: 24px;
  }

  .responsive-sub{
    font-size: 20px;
  }

  .responsive-text{
  font-size: 16px;
}
}


